.carousel-item{
    height: 32rem;
    background-color: rgb(0, 0, 0);
    position: relative;
    color:white;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top:0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}